/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2015 - 2021
 * @version 1.7.3
 *
 * Custom styling for DateRangePicker
 * 
 * Author: Kartik Visweswaran
 * For more JQuery plugins visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-drp-container .kv-drp-dropdown {
    position: relative;
}

.kv-drp-dropdown .range-value {
    background: none;
    padding-left: 2rem;
    opacity: 0.9;
    width: 100%;
}

.kv-drp-dropdown .left-ind,
.kv-drp-dropdown .right-ind {
    position: absolute;
    top: 0.4rem;
}

.kv-drp-dropdown .left-ind {
    left: 12px;
}

.kv-drp-dropdown .right-ind {
    right: 12px;
}

.kv-drp-dropdown .kv-clear {
    padding:0 0.3rem;
    font-size: 1.1rem;
    cursor:pointer;
    right:1.6rem;
    line-height:1.3rem;
}

.kv-drp-dropdown .caret {
    display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}